/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;

}

html {
    scroll-behavior: smooth;
}

/* CSS varisbles */
:root {
    --navbar-height: 59px;
}



/* Navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: black;
    z-index: 5;
    
    
}

#navbar::before {
    content: "";
    /* background-color: black; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -5;
   
    /* opacity: 1; */



}




/* Navigation bar : logo and img */

#logo {

    margin: 16px 20px;
}

#logo img {
    height: 32px;
    margin: 2px 8px;
    left: 0%;
    top: 25%;
    position: absolute;
}




/* Navigation bar : list styling */

#navbar ul {
    display: flex;
    top: 0px;
    position: relative;


}

#navbar ul li {
    /* color: aqua; */
    list-style: none;
    font-size: 1.4rem;

}

#navbar ul li a {
    color: aqua;
    display: block;
    padding: 5px 24px;

    text-decoration: none;
    border-radius: 20px;
    font-family: 'Fredericka the Great', cursive;



}

#navbar ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);



}


/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
    justify-content: center;
    height: 650px;

}

#home::before {
    content: "";
    background: url('../img/bg2.jpg') no-repeat center center/cover;
    height: 90%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: .85;


}



#home h1 {
    color: rgb(255, 254, 254);
    text-align: center;
    font-family: 'Unbounded', cursive;
}

#home p {
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Unbounded', cursive;
}

/* services section  */
#services {
    margin: 34px;
    display: flex;



}

#services .box {
    /* border: 2px solid brown; */
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: #a5afaf;
    box-shadow: 5px 4px 9px 0px #547472;

}

#services .box img {

    height: 160px;
    /* width: 100px; */
    display: block;
    margin: auto;
}

#services .box p {
    font-family: 'Unbounded', cursive;
}



/* clients section */

#client-section {
    height: 373px;

}

#client-section::before {
    content: "";
    background: url('../img/bg3.jpg') no-repeat center center/cover;
    height: 50%;
    width: 100%;
    position: absolute;

    z-index: -1;
    opacity: .5;


}

#clients {
    display: flex;
    align-items: center;
    justify-content: center;


}

#clients img {
    height: 124px;


}

.clients-item {
    padding: 54px;


}



/* contact section */
#contact {
    position: relative;
    color: rgb(255, 255, 255);
    

}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: .5; */
    /* background: url('../img/bg4.jpg') no-repeat center center/cover; */
    background-color: rgb(5 5 30);


}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    /* width: 50%; */


}

#contact-box form {
    width: 40%;


}

#contact-box label {

    font-size: 1.3rem;



}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: .5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 3px 3px 5px #a5afaf;
    margin: 1.5rem;
    /* position: relative;
    z-index: -1; */
   

}


#gender {
    display: flex;
    padding: 4px 4px;
    flex-direction: column;
}

label input {
    margin: .4rem;
}




footer {
    background: black;
    color: white;
    padding: 9px 20px;

}











/* Utility Classes */
.h-primary {

    font-size: 3.8rem;
    padding: 12px;

    font-family: 'Unbounded', cursive;
    position: relative;
    z-index: -1;
}

.h-secondary {

    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Unbounded', cursive;
    font-size: 2.3rem;
}

.btn {

    padding: 6px 20px;
    border: 2px solid #ff6d00;
    border-radius: 53px;
    color: rgb(184 3 3);
    background-color: yellow;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 75%;
    /* z-index: -1; */
    box-shadow: inset 8px 4px 7px #ff6d00;
    transition: all .41s ease-in-out ;
    width: 176px;
    height: 45px;


}

.btn:hover {
    background-color: yellow;
    color: black;
    box-shadow: inset 2px 2px 5px #ff6d00, 2px 2px 25px #ff6d00, 2px 2px 50px #ff6d00, 2px 2px 200px 6px #ff6d00;
    border-radius: 53px;
    width: 180px;
    height: 50px;
    


}

.center {
    text-align: center;
}


.submit {

    background-color: #0b334c;
    width: 125px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative !important;
    left: 43%;
    border: 2px solid rgb(26, 43, 59);
    /* color: antiquewhite; */
    box-shadow: 7px 8px 19px rgb(0 0 0) !important;
    margin: 29px -13px;
    transition: all .41s ease-in-out ;
    border-radius: 20px !important;
    cursor: pointer;
    /* z-index: -1; */

}

.submit:hover {
    width: 130px !important;
    height: 45px !important;
    color: rgb(255, 255, 255);
    border: 2px solid rgba(67, 59, 59, 0.675);
    border-radius: 30px !important;


    background-color: rgb(8, 12, 14);
    box-shadow: inset 2px 2px 5px rgb(45, 38, 38), 2px 2px 25px rgb(45, 38, 38), 2px 2px 50px rgb(45, 38, 38), 2px 2px 200px 6px rgb(45, 38, 38) !important;
}